*{
    box-sizing: border-box;
}
body{
    background-color: #488ca4;
}
.App{
    background-color: #e8edf1;
    min-height: 80vh;
    width: 350px;
    margin: 20px auto;
    padding: 10px;
}
ul,li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    color:#488ca4;
    margin-bottom: 5px;
}
.crossed{
    text-decoration: line-through 2px #e96d72;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    -webkit-text-decoration-color:#e96d72;
    text-decoration-color:#e96d72;
    background-color: #dedcd8;
}
h1{
    color: #488ca4;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}
input{
    flex: 1;
    padding: 8px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #e8edf1;
    border: solid #e96d72;
    color: #488ca4;
    outline: none;
}
input:focus{
    background-color: white;
}
.btn{
    padding: 10px;
    border: none;
    flex: 1;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.add{
    background-color: #488ca4;
    margin-top: 5px;
}
.del{
    background-color: #e96d72;
    margin-bottom: 15px;
}
